.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 17px;
    margin-bottom: 0px;
    text-decoration: none;
    transition: opacity .5s ease-in;
}

.header__lang-link:hover {
    opacity: 0.4;
}


@media screen and (max-width: 700px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}