.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 1;
    justify-self: center;
    max-width: 360px;
    margin: 0;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin: 0 26px 0;
    }
}