.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    margin: 26px 0 0;
}

.place__paragraph:nth-child(1){
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media screen and (max-width: 700px) {
    .place__paragraph {
        margin: 0 16px 0;
    }
    
    .place__paragraph:nth-child(2) {
        margin: 25px 16px 0;
    }
}